.historyOuter{
    margin-top: 10px;
    padding-left: 20px;
    opacity: 0.9;
    background-color: rgb(221, 221, 238);
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
@media only screen and (max-width: 767px) {
    .historyOuter{
        margin-left: 20px;
        padding-top: 10px;
    } 
  }
  @media only screen and (max-width: 576px) {
    .historyOuter{
        margin: 0;
    } 
  }